.balloon {
    box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.09);
    display: inline-block;
    padding: 20px 30px 35px;
    @include fontManrope;
    position: relative;
    background-color: var(--white);
    color: var(--black);
    width: 300px;
    border-radius: 20px;
    box-sizing: border-box;
    // &::before {
    //     content: '';
    //     --size: 40px;
    //     width: var(--size);
    //     height: var(--size);
    //     z-index: 1;
    //     position: absolute;
    //     top: 50%;
    //     left: -10px;
    //     background-color: var(--white);
    //     border-radius: 5px;
    //     transform: translateY(-50%)rotate(45deg);
    // }

    &__content {
        position: relative;
        z-index: 2;
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: math.div(38, 16);

    }

    &__location {
        font-weight: 500;
        font-size: 16px;
        line-height: math.div(38, 16);
    }

    &__link {
        &:not(:last-child) {
            margin-top: 23px;
        }
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: math.div(24, 16);
        transition: color $transitionSpeed $transitionFunction;

        &:hover {
            color: var(--red);
        }
    }
}
