.balloon {
    display: inline-block;
    padding: 20px 30px 35px;
    @include fontManrope;
    position: relative;
    background-color: var(--white);
    border: none;
    color: var(--black);
    width: 300px;
    border-radius: 20px;
    box-sizing: border-box;

    &__content {
        position: relative;
        z-index: 2;
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: math.div(21, 16);
    }

    &__location {
        margin-top: 15px;
        font-size: 16px;
        line-height: math.div(21, 16);
    }

    &__list {
        margin-top: 23px;

        li {
            display: block;
            font-size: 16px;
            line-height: math.div(24, 16);
            transition: color $transitionSpeed $transitionFunction;

            &:hover {
                color: var(--red);
            }
        }
    }
}
