.boat-card {
    width: 416px;

    &__wrapper {
        width: 100%;
        position: relative;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 6px;
        width: calc(100% - 29px);
        transform: translateY(-50%) rotate(-5deg);

        img {
            width: 100%;
        }

        @media (max-width:$mobile-max) {
            width: 100%;
        }

        @media (max-width:500px) {
            top: 20px;
        }
    }

    &__content {
        padding: 78px 37px 32px;
        background-color: var(--white);
        box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.06);
        border-radius: 30px;

        display: grid;
        grid-template-columns: repeat(1fr, max-content);
        grid-row-gap: 7px;
        grid-column-gap: 10px;
    }

    &__title {
        grid-column: 1/-1;
        @include fontHalvar;
        color: var(--black);
        letter-spacing: -1.35288px;
        font-weight: 500;
        font-size: 30px;
        line-height: math.div(35, 30);
        transition: color $transitionSpeed $transitionFunction;
    }

    &__descr {
        grid-column: 1/2;
        font-size: 14px;
        line-height: math.div(19, 14);
        color: #8F8F8F;
    }

    &__btn {
        justify-self: end;
        grid-column: 2/3;
        display: flex;
        align-items: center;
        color: var(--red);
        font-weight: 600;
        font-size: 12px;
        line-height: math.div(16, 12);

        opacity: 0;
        visibility: hidden;
        transform: translateY(5px);

        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;

        svg {
            margin-right: 10px;
            width: 12px;
            height: 14px;
            fill: currentColor;
        }

        @media (max-width:$smallTablet-max) {
            display: none;
            grid-column: 1/-1;
        }
    }

    &:hover {
        .boat-card {
            &__title {
                color: var(--red);
            }

            &__btn {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}




.boat-card-secondary {

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;

        @media (max-width:$tablet-max) {
            padding: 0 10px;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__title {
        @include fontHalvar;
        color: var(--black);
        @include adaptiveValue("font-size", 32, 18);
        line-height: math.div(37, 32);
        margin-right: 20px;
    }

    &__descr {
        color: #8F8F8F;
        @include adaptiveValue("font-size", 14, 12);
        line-height: math.div(19, 14);
    }

    &__body {
        margin-top: 30px;
        position: relative;
        --border-r: 28px;
        border-radius: var(--border-r);
        background-color: var(--white);
        filter: drop-shadow(0px 10px 32px rgba(0, 0, 0, 0.06));
        padding: 50px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
            z-index: 5;
            border-radius: var(--border-r);
            opacity: 0;
            visibility: hidden;
            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction;
        }

        @media (max-width:$tablet-max) {
            margin-top: 15px;
            --border-r: 16px;
        }
    }

    &__image {
        padding-bottom: percent(345, 1069);
        border-radius: var(--border-r);

        img {
            border-radius: var(--border-r);
        }

    }

    &__content {
        position: absolute;
        bottom: 30px;
        left: 0;
        padding: 0 35px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 6;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;

        @media (max-width:$tablet-max) {
            bottom: 20px;
            padding: 0 20px;
        }
    }

    &__options {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-column-gap: 25px;
        grid-row-gap: 15px;

        @media (max-width:$tablet-max) {
            grid-column-gap: 15px;
        }
    }

    &__option {
        display: flex;
        flex-direction: column;

        &:not(:first-child) {
            padding-left: 27px;
            border-left: 1px solid var(--white);

            @media (max-width:$tablet-max) {
                padding-left: 15px;
            }
        }

        span:nth-child(1) {
            @include adaptiveValue("font-size", 11, 10);
            line-height: math.div(15, 11);
            color: var(--white);
        }

        span:nth-child(2) {
            margin-top: 6px;
            @include fontHalvar;
            color: var(--white);
            @include adaptiveValue("font-size", 25, 16);
            line-height: math.div(28, 25);
            font-weight: 700;
        }

        @media (max-width:480px) {
            &:nth-child(1) {
                grid-column: 1/-1;
            }

            &:nth-child(2) {
                border-left: none;
                padding-left: 0;
            }

            &:nth-child(3) {}
        }
    }

    &__icon {
        width: 17px;
        height: 16px;
        fill: var(--white);
        align-self: end;
    }

    &--not {
        display: flex;
        flex-direction: column;

        .boat-card-secondary {

            &__body {
                flex-grow: 1;
                width: 100%;

                @media (max-width:$smallTablet-max) {
                    height: 250px;
                }

                @media (max-width:$mobile-max) {
                    height: 200px;
                }

                @media (max-width:480px) {
                    height: 175px;
                }
            }

            &__content {
                filter: drop-shadow(0px 10px 32px rgba(0, 0, 0, 0.06));
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                @include fontHalvar;
                opacity: 1;
                visibility: visible;
                transform: translateY(0);

                font-weight: 500;
                color: var(--black);
                @include adaptiveValue("font-size", 24, 16);
                line-height: math.div(28, 24);

                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }
        }
    }

    @media (max-width:$tablet-max) {
        &:not(.boat-card-secondary--not) {
            .boat-card-secondary {
                &__body {
                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &__content {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }

    }

    @media (min-width:$tablet-min) {
        &:hover {
            &:not(.boat-card-secondary--not) {
                .boat-card-secondary {
                    &__body {
                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    &__content {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }

        }
    }
}
