.delivery {
    position: relative;

    &__top {
        grid-column: 3/-1;
        @include adaptiveValue("padding-bottom", 170, 60);

        @media (max-width:$max-1150) {
            grid-column: 1/-1;
        }
    }

    &__title {
        margin-bottom: 56px;

        @media (max-width:$max-1150) {
            margin-bottom: 35px;
        }
    }

    &__text {
        max-width: 541px;
        @include adaptiveValue("font-size", 16, 14);
        line-height: math.div(24, 16);

        p {
            &:not(:last-child) {
                margin-bottom: 26px;
            }
        }

        @media (max-width:$max-1150) {
            max-width: none;

            p {
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__feedback {
        @include adaptiveValue("margin-top", 220, 150);
        grid-column: 3/-1;

        @media (max-width:$max-1150) {
            grid-column: 1/-1;
        }
    }

    &::before {
        content: '';
        display: block;
        background-image: url('../img/becoming-dealer-bg.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom center;

        position: absolute;
        right: -56%;
        bottom: 28%;
        transform: translateX(-50%);

        --size: 63%;
        width: var(--size);
        padding-bottom: var(--size);
        height: 0;
        z-index: -1;

        @media (max-width:$smallTablet-max) {
            --size: 82%;
            bottom: 32%;
        }

        @media (max-width:$mobile-max) {
            bottom: 40%;
        }
    }

}
