.header {
    @include fontHalvar;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary);
    z-index: 99;

    &.header-scroll {
        @media (min-width:$min-1150) {
            border-bottom: 1px solid var(--alto);

            .header__social {
                opacity: 0;
            }
        }

        .header__container {
            @media (min-width:$min-1150) {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }

    &__container {
        align-items: center;
        padding-top: 38px;
        padding-bottom: 38px;

        @media (min-width:$min-1150) {
            transition: padding $transitionSpeed $transitionFunction;
        }

        @media (max-width:$max-1150) {
            padding-top: 15px;
            padding-bottom: 15px;
            display: flex;
            grid-gap: 0;
            justify-content: space-between;
        }

        @media (max-width:$smallTablet-max) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &__logo {
        grid-column: 1/4;
        margin-right: 35px;

        @media (max-width:$max-1150) {
            grid-column: auto;
            margin-right: 0;
        }

        @media (max-width:$smallTablet-max) {}
    }

    &__nav {
        grid-column: 4/11;

        @media (max-width:$max-1150) {

            padding: 30px 15px;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: var(--primary);
            width: 100%;
            height: 100%;
            min-height: calc(var(--vh) - var(--header-height) + 1px);
            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction;

            visibility: hidden;
            opacity: 0;
            z-index: 99;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                width: calc(100% - 30px);
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                background-color: var(--alto);
            }

            .nav__list {
                flex-direction: column;
            }

            .nav__item {
                margin: 0;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            &.menu--active {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__links {
        position: relative;
        text-align: right;
        grid-column: 11/13;
        margin-left: 10px;

        @media (max-width:$max-1150) {
            align-self: auto;
            display: flex;
            align-items: center;
            margin-left: 0;

            .header__social {
                display: none;
            }
        }
    }

    &__social {
        position: absolute;
        top: -10px;
        right: 0;
        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction,
            transform $transitionSpeed $transitionFunction;
        transform: translateY(-100%);

        @media (max-width:$max-1150) {
            position: static;
            transform: translateY(0);
            justify-content: center;
            margin-top: 40px;
        }
    }

    &__tel {
        color: var(--black);
        font-weight: 500;
        font-size: 16px;
        line-height: math.div(19, 16);
        transition: color $transitionSpeed $transitionFunction;
        outline: none;

        &:hover {
            color: var(--red);
        }

        &:focus {
            color: var(--red);
        }

        span {
            color: inherit;
            white-space: nowrap;
        }

        @media (max-width:$max-1150) {
            display: flex;
            align-items: center;
        }

    }

    &__burger {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.8);

        display: flex;
        align-items: center;
        justify-content: center;



        @media (min-width:$min-1150) {
            display: none;
        }
    }

    @media (max-width:$max-1150) {
        border-bottom: 1px solid var(--alto);
    }
}
