.hero-home-cards {
    margin-top: -35px;
    padding-top: 77px;
    padding-bottom: 120px;
    background-color: #f5f5f5;
    border-radius: 36px 36px 0 0;
    position: relative;
    z-index: 8;

    &__container {
        position: relative;
    }

    &--plus {
        position: absolute;

        svg {
            width: 24px;
            height: 24px;
            fill: var(--black);
        }

        &-1 {
            top: -20px;
            left: 15px;
        }

        &-2 {
            top: -20px;
            right: 15px;
        }


        @media (max-width:$tablet-max) {
            display: none;
        }
    }
    &__title{
        color: #1C1C1C;
        text-transform: uppercase;text-align: center;
        font-size: 26px;
        line-height: math.div(29 , 26);font-weight: 700;
        @include fontHalvar;
    }
    &__list {
        margin-top: 57px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 70px;

        @media (max-width:$tablet-max) {
            grid-column-gap: 25px;
            grid-row-gap: 50px;
        }

        @media (max-width:$smallTablet-max) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {}

    &+.choice-obvious--home {
        margin-top: 0;
    }

    @media (max-width:$tablet-max) {
        margin-top: -20px;
        border-radius: 16px 16px 0 0;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
