.nav {
    overflow: auto;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 67, 25, 1318, 1024, 1);
        }

        &:last-child {
            margin-left: auto;
        }
    }

    &__link {
        color: var(--black);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: math.div(16, 14);
        transition: color $transitionSpeed $transitionFunction;
        outline: none;
        &:hover {
            color: var(--red);
        }
        &:focus{
            color: var(--red);
        }
    }
}
