.news-events {

    &__container {}

    &__breadcrumbs {
        grid-column: 2/-1;

        @media (max-width:$max-1150) {
            grid-column: 1/-1;
        }
    }

    &__title {
        margin-top: 30px;
        grid-column: 1/-1;
        text-align: center;
    }

    &__list {
        @include adaptiveValue("margin-top", 50, 20);
        grid-column: 2/12;

        @media (max-width:$max-1150) {
            grid-column: 1/-1;
        }
    }

    &__card {
        &:not(:last-child) {
            margin-bottom: 55px;
        }
    }

    &__pagination {
        @include adaptiveValue("margin-top", 127, 55);
        grid-column: 1/-1;
        justify-self: center;
    }
}
