.question-answer {

    &__container {}

    &__title {
        grid-column: 3/-1;

        @include fontHalvar;
        font-weight: 500;
        font-size: 26px;
        line-height: math.div(30, 26);
        text-transform: uppercase;
        color: var(--black);

        @media (max-width:$max-1150) {
            grid-column: 1/-1;
        }
    }

    &__inner {
        margin-top: 46px;
        grid-column: 3/-1;

        @media (max-width:$max-1150) {
            grid-column: 1/-1;
        }

        @media (max-width:$tablet-max) {
            margin-top: 36px;
        }
    }

    &__list {
        &:not(:last-child) {
            margin-bottom: 100px;

            @media (max-width:$tablet-max) {
                margin-bottom: 65px;
            }
        }
    }

    &__item {
        &:first-child {
            &::after {
                display: none;
            }
        }

        .spollers-secondary {

            &::after,
            &::before {}

            &__item {}

            &__title {
                span {
                    @include fontOpenSans;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: math.div(22, 16);
                    color: var(--black);
                    text-transform: none;

                    &::after {
                        display: none;
                    }

                    @media (max-width:$tablet-max) {
                        font-size: 14px;
                    }
                }

                svg {
                    fill: #d1d1d1;
                }

                &:focus,
                &:hover {
                    svg {
                        fill: var(--red);
                    }
                }

                @media (max-width:$smallTablet-max) {
                    padding: 16px 0;
                }
            }

            &__body {
                div {
                    &:not(:last-child) {
                        margin-bottom: 30px;

                        @media (max-width:$tablet-max) {
                            margin-bottom: 20px;
                        }
                    }
                }

                div,
                p,
                ul,
                ol {
                    color: var(--black);
                    font-size: 14px;
                    line-height: math.div(22, 14);

                    a {
                        font-weight: 600;
                        transition: color $transitionSpeed $transitionFunction;
                        display: inline;

                        &:hover {
                            color: var(--red);
                        }
                    }

                    @media (max-width:$tablet-max) {
                        font-size: 13px;
                    }
                }
            }
        }

    }

    &__feedback {
        @include adaptiveValue("margin-top", 250, 100);
        grid-column: 3/-1;
        padding-top: 0;
        border: none;

        @media (max-width:$max-1150) {
            grid-column: 1/-1;
        }
    }
}
