@mixin fontHalvar {
    font-family: 'Halvar Breitschrift', sans-serif;
}

@mixin fontManrope {
    font-family: 'Manrope', sans-serif;
}

@mixin fontInter {
    font-family: 'Inter', sans-serif;
}

@mixin fontRoboto {
    font-family: 'Roboto', sans-serif;
}
