.burger {
    --burger-width: 29px;
    --burger-height: 10px;
    --burger-line-height: 2px;

    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #000;
    background-color: transparent;
    cursor: pointer;
    flex: 0 0 var(--burger-width);



    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: var(--burger-line-height);
        background-color: currentColor;
        transition: transform 0.4s ease-in-out, top 0.4s ease-in-out;
        border-radius: 5px;
    }



    &::after {
        top: calc(100% - var(--burger-line-height));
    }

    &__line {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: var(--burger-line-height);
        background-color: currentColor;
        transform: translateY(-50%);
        transition: transform 0.4s ease-in-out, top 0.4s ease-in-out;
        border-radius: 5px;
    }

    &--active {


        .burger {
            &::after {
                top: 50%;
                transform: rotate(-45deg);
            }
        }

        .burger__line {
            transform: rotate(45deg);
            top: 50%;
        }
    }
}
