<section class="all-began">
    <div class="all-began__container container">
        <div class="all-began__options">
            <div class="all-began__option">
                <span data-text-mobile="41">
                    41
                </span>
                <span>
                    дилер в регионах РФ
                </span>
            </div>
            <div class="all-began__option">
                <span data-text-mobile="23">
                    23
                </span>
                <span>
                    года опыта в отрасли
                </span>
            </div>
            <div class="all-began__option">
                <span data-text-mobile="108 км/ч">
                    108 км/час
                </span>
                <span>
                    — максимальная скорость катера
                </span>
            </div>
        </div>
        <h2 class="all-began__title title-1">
            как всё
            <br>
            начиналось
        </h2>
        <div class="all-began__right">
            <div class="all-began__path">
                <div class="all-began__text">
                    <p>
                        2022 стал годом возможностей в развитии промышленности, модернизации производств, инновациях.
                        В городе Дмитров Московской области появилась новая точка на карте — завод ООО «Фабрика лодок».
                    </p>
                    <p>
                        В октябре с конвейера вышла первая модель цельносварной алюминиевой лодки для рыбалки
                        и активного
                        отдыха на воде:
                    </p>
                </div>
                <div class="all-began__names">
                    <a href="#">
                        [ ФЛ—55 ]
                    </a>
                </div>
            </div>
            <div class="all-began__path">
                <div class="all-began__text">
                    <p>
                        За несколько месяцев мы наладили технологический и производственный процессы, создали
                        дополнительную
                        модификацию лодки ФЛ–55 Sport и начали разработку двух новых моделей. В каждой из них учли
                        требования рыболовов любителей и профессиональных спортсменов.
                    </p>
                </div>
                <div class="all-began__names">
                    <a href="#">
                        [ ФЛ—47 ]
                    </a>
                    <a href="#">
                        [ ФЛ—70 ]
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
