<footer class="footer img-bg">
    <div class="footer__container container">
        <button type="button" class="btn btn-reset footer__call" data-popup-path="request-call">
            <img src="./img/call.png" alt="Заказать звонок">
        </button>
        <div class="footer__main">
            <div class="footer__info footer-info">
                <h3 class="footer-info__title">
                    <a href="#">
                        Отдел продаж
                    </a>
                </h3>
                <a href="tel:+78125613392" class="footer-info__link">
                    +7 (812) 561-33-92
                </a>
            </div>
            <div class="footer__item footer-item">
                <h4 class="footer-item__title">
                    О нас
                </h4>
                <ul class="footer-item__elements list-reset">
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            О компании
                        </a>
                    </li>
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            О производстве
                        </a>
                    </li>
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            Новости и события
                        </a>
                    </li>
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            Вопрос-ответ
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__item footer-item">
                <h4 class="footer-item__title">
                    Катера
                </h4>
                <ul class="footer-item__elements list-reset">
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            ФЛ–47
                        </a>
                    </li>
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            ФЛ–55
                        </a>
                    </li>
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            ФЛ–70
                        </a>
                    </li>
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            Конфигуратор
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__item footer-item">
                <h4 class="footer-item__title">
                    Покупателю
                </h4>
                <ul class="footer-item__elements list-reset">
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            Где купить
                        </a>
                    </li>
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            Доставка
                        </a>
                    </li>
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            Гарантия
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__item footer-item">
                <h4 class="footer-item__title">
                    Контакты
                </h4>
                <ul class="footer-item__elements list-reset">
                    <li class="footer-item__element">
                        <a href="#" class="footer-item__link">
                            info@fl-boats.ru
                        </a>
                    </li>
                    <li class="footer-item__element">
                        <a href="tel:88004441461" class="footer-item__link">
                            8 800 444 14 61
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <ul class="footer__social social list-reset">
                <li class="social__item">
                    <a href="#" target="_blank" class="social__link social__link--vk"
                        aria-label="Наша страничка во Вконтакте" title="Наша страничка во Вконтакте">
                        <svg>
                            <use xlink:href="img/sprite.svg#vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" target="_blank" class="social__link social__link--tg" aria-label="Мы в телеграмме"
                        title="Мы в телеграмме">
                        <svg>
                            <use xlink:href="img/sprite.svg#tg"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" target="_blank" class="social__link social__link--wa" aria-label="Мы в WhatsApp"
                        title="Мы в WhatsApp">
                        <svg>
                            <use xlink:href="img/sprite.svg#wa"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" target="_blank" class="social__link social__link--yt" aria-label="Наш канал на YouTube"
                        title="Наш канал на YouTube">
                        <svg>
                            <use xlink:href="img/sprite.svg#yt"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__rights-reserved">
                ООО «Фабрика Лодок» | Все права защищены
            </p>
        </div>
    </div>
</footer>
