<header class="header">
    <div class="header__container container grid">
        <a href="#" class="header__logo logo">
            <img loading="lazy" src="./img/logo.svg" class="logo__img" width="218" height="48" alt="Фабрика Лодок">
        </a>
        <nav class="header__nav nav" data-menu>
            <ul class="nav__list list-reset">
                <li class="nav__item">
                    <a href="#" class="nav__link">О нас</a>
                    <ul class="nav__item-dropdown list-reset">
                        <li>
                            <a href="#">
                                Компания
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Производство
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Новости и события
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Вопрос-ответ
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Катера</a>
                    <ul class="nav__item-dropdown list-reset">
                        <li>
                            <a href="#">
                                FL—55
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                FL—47
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                FL—70
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item"><a href="#" class="nav__link">Галерея</a></li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Как купить</a>
                    <ul class="nav__item-dropdown list-reset">
                        <li>
                            <a href="#">
                                Где купить
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Гарантия
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Как стать дилером
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            </ul>
        </nav>
        <a href="tel:88004441461" class="header__tel">
            <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <span>8 800 444-14-61</span>
        </a>
        <button class="header__burger burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span class="burger__line"></span>
        </button>
    </div>
</header>
