<section class="hero-home">
    <div class="hero-home__container container">
        <h1 class="hero-home__title">
            фабрика лодок
        </h1>
        <button type="button" class="btn btn-reset hero-home__call" data-popup-path="request-call">
            <img class="" src="./img/call.png" alt="Заказать звонок">
        </button>
        <div class="hero-home__decor--plus hero-home__decor--plus-1">
            <svg>
                <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
        </div>
        <div class="hero-home__decor--plus hero-home__decor--plus-2">
            <svg>
                <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
        </div>
        <div class="hero-home__decor--plus hero-home__decor--plus-3">
            <svg>
                <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
        </div>
        <div class="hero-home__decor--elipse hero-home__decor--elipse-1">
            <picture>
                <source srcset="./img/hero-home-decor-1.webp" type="image/webp">
                <img loading="lazy" src="./img/hero-home-decor-1.png" width="62" height="62" aria-hidden="true" alt="">
            </picture>
        </div>
        <div class="hero-home__decor--elipse hero-home__decor--elipse-2">
            <picture>
                <source srcset="./img/hero-home-decor-2.webp" type="image/webp">
                <img loading="lazy" src="./img/hero-home-decor-2.png" width="151" height="151" aria-hidden="true"
                    alt="">
            </picture>
        </div>
        <div class="hero-home__content">
            <div class="hero-home__image">
                <picture>
                    <source srcset="./img/boat.webp" type="image/webp">
                    <img loading="lazy" src="./img/boat.png" width="353" height="348" alt="Лодка">
                </picture>
            </div>
            <div class="hero-home__bubble-speech hero-home__bubble-speech--1 bubble-speech">
                <p class="bubble-speech__text">
                    Безупречные ходовые качества, большая грузоподъёмность и максимальное количество места
                    на судне — мы учли всё, что важно
                </p>
            </div>
            <div class="hero-home__bubble-speech hero-home__bubble-speech--2 bubble-speech">
                <p class="bubble-speech__text">
                    Моторные лодки ФЛ разработаны в России при участии опытных водомоторников и рыболовов
                </p>
            </div>
            <a href="#" class="hero-home__bubble-speech hero-home__bubble-speech--3 bubble-speech">
                <h4 class="bubble-speech__title">
                    [КОНФИГУРАТОР]
                </h4>
                <p class="bubble-speech__text">
                    Когда каждая лодка уникальна
                </p>
            </a>
        </div>
        <div class="swiper hero-home__list" data-slider-breakpoint="false">
            <div class="swiper-wrapper">
                <div class="swiper-slide boat-card">
                    <a href="#" class="boat-card__wrapper">
                        <div class="boat-card__img">
                            <picture>
                                <source srcset="./img/boat-card/boat-card-1.webp" type="image/webp">
                                <img loading="lazy" src="./img/boat-card/boat-card-1.png" width="387" height="200"
                                    alt="[ФЛ–47]">
                            </picture>
                        </div>
                        <div class="boat-card__content">
                            <h3 class="boat-card__title">
                                [ФЛ–47]
                            </h3>
                            <p class="boat-card__descr">
                                Навстречу приключениям
                            </p>
                            <button type="button" class="btn btn-reset boat-card__btn">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                                </svg>
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide boat-card">
                    <a href="#" class="boat-card__wrapper">
                        <div class="boat-card__img">
                            <picture>
                                <source srcset="./img/boat-card/boat-card-1.webp" type="image/webp">
                                <img loading="lazy" src="./img/boat-card/boat-card-1.png" width="387" height="200"
                                    alt="[ФЛ–47]">
                            </picture>
                        </div>
                        <div class="boat-card__content">
                            <h3 class="boat-card__title">
                                [ФЛ–47]
                            </h3>
                            <p class="boat-card__descr">
                                Навстречу приключениям
                            </p>
                            <button type="button" class="btn btn-reset boat-card__btn">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                                </svg>
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide boat-card">
                    <a href="#" class="boat-card__wrapper">
                        <div class="boat-card__img">
                            <picture>
                                <source srcset="./img/boat-card/boat-card-1.webp" type="image/webp">
                                <img loading="lazy" src="./img/boat-card/boat-card-1.png" width="387" height="200"
                                    alt="[ФЛ–47]">
                            </picture>
                        </div>
                        <div class="boat-card__content">
                            <h3 class="boat-card__title">
                                [ФЛ–47]
                            </h3>
                            <p class="boat-card__descr">
                                Навстречу приключениям
                            </p>
                            <button type="button" class="btn btn-reset boat-card__btn">
                                <svg>
                                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                                </svg>
                                Подробнее
                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<a href="#" class="configurator container">
    <h4 class="configurator__title">
        КОНФИГУРАТОР
    </h4>
    <div class="configurator__text">
        Когда каждая лодка уникальна
    </div>
    <div class="soon">
        Скоро
    </div>
</a>
