<section class="quote">
    <div class="quote__container container">
        <div class="quote__inner">
            <div class="quote__top">
                <div class="quote__icon">
                    <picture>
                        <source srcset="./img/avatar.webp" type="image/webp">
                        <img loading="lazy" src="./img/avatar.jpg" width="132" height="132" alt="Дмитрий Зюзин">
                    </picture>
                </div>
                <div class="quote__info">
                    <h3 class="quote__name">
                        Дмитрий Зюзин
                    </h3>
                    <span class="quote__post">
                        Сооснователь компании
                    </span>
                </div>
            </div>
            <blockquote class="quote__text">
                «Мной, моими друзьями и коллегами проведено тысячи тестов катеров на воде, что 
                <span>позволило нам создать лодку, максимально приспособленную</span>
                для полноценной профессиональной и любительской рыбалки»
            </blockquote>
        </div>
    </div>
</section>
