.checkbox {
    position: relative;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:focus+.checkbox__label:before {
           border: 1px solid var(--oxford-blue);
        }

        &:checked+.checkbox__label:after {
           transform: scale(1);
        }
    }

    &__label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        position: relative;

        &:before {
            content: "";
            align-self: flex-start;
            flex: 0 0 20px;
            width: 20px;
            height: 20px;
            border: 1px solid #D0D5DD;
            border-radius: 6px;
            transition: border $transitionSpeed $transitionFunction;
        }
        &::after{
            content: '';
            background-color: var(--oxford-blue);
            flex: 0 0 14px;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 4px;
            transform: scale(0);
            transition: transform $transitionSpeed $transitionFunction;
        }

    }

    &__text {
        margin-left: 12px;
        @include fontInter;
        color: var(--oxford-blue);
        font-weight: 500;
        font-size: 16px;
        line-height: math.div(24 , 16);
        @media (max-width:$smallTablet-max){
             font-size: 12px;
        }
    }
}
