.form-primary {
    &__label {
        margin-bottom: 24px;

        @media (max-width:$smallTablet-max) {
            margin-bottom: 20px;
        }
    }

    &__agree {
        margin-bottom: 32px;

        @media (max-width:$smallTablet-max) {
            margin-bottom: 26px;
        }
    }

    &__btn {
        width: 100%;
    }
}





// =============================================================================

// button
@import "button";

// =============================================================================

// input
@import "input";

// =============================================================================

// checkbox
@import "checkbox";

// =============================================================================

// rating
// @import "rating";

// =============================================================================

// quantity
// @import "quantity";

// =============================================================================

// radio
// @import "radio";

// =============================================================================
