.choice-color {
    --yellow: #EED815;
    --dark-blue: #002182;
    --mystic: #E0E8ED;
    --spruce: #37454E;
    --pearl: #010305;
    --red: #BF0E15;
    --blue: #0064BC;
    --orange: #D0490E;
    --aubergine: #3C070F;

    &__title {
        padding: 12px 11px 12px 30px;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 1px;
            background-color: #d9d9d9;
            transition: width $transitionSpeed $transitionFunction;
        }

        &._spoller-active {
            &::before {
                width: 100%;
            }

            svg {
                transform: rotate(180deg);
            }
        }

        span {
            @include fontOpenSans;
            text-transform: none;
            font-size: 16px;
            line-height: math.div(24, 16);
            color: #000;
            font-weight: 400;

            @media (max-width:$tablet-max) {
                font-size: 14px;
            }
        }

        svg {
            margin-right: 25px;
            margin-left: auto;
            display: inline-block;
            width: 14px;
            height: 14px;
            fill: currentColor;
            transition: transform 0.3s ease-in-out;
            transform: translate(0);

            @media (max-width:$tablet-max) {
                width: 12px;
                height: 12px;
            }
        }

        @media (max-width:$tablet-max) {
            padding: 12px 15px;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:before {
            content: "";
            align-self: flex-start;
            width: 100%;
            height: 25px;
            flex: 0 0 100%;
            background-color: gray;
        }
    }

    &__selected {
        width: 76px;
        height: 43px;
        border-radius: 13px;
        background-color: gray;
        transition: background-color $transitionSpeed $transitionFunction;


        &[data-color="yellow"] {
            background-color: var(--yellow);
        }

        &[data-color="dark-blue"] {
            background-color: var(--dark-blue);
        }

        &[data-color="mystic"] {
            background-color: var(--mystic);
        }

        &[data-color="spruce"] {
            background-color: var(--spruce);
        }

        &[data-color="pearl"] {
            background-color: var(--pearl);
        }

        &[data-color="red"] {
            background-color: var(--red);
        }

        &[data-color="blue"] {
            background-color: var(--blue);
        }

        &[data-color="orange"] {
            background-color: var(--orange);
        }

        &[data-color="aubergine"] {
            background-color: var(--aubergine);
        }

        @media (max-width:$tablet-max) {
            width: 60px;
            height: 30px;
            border-radius: 8px;
        }
    }

    &__radio {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;

        .choice-color__input {
            width: 0;
            height: 0;
            opacity: 0;
            position: absolute;

            &+.choice-color__label::before {
                width: 100%;
                height: 43px;
                border-radius: 13px;

                @media (max-width:$tablet-max) {
                    height: 30px;
                    border-radius: 8px;
                }
            }

            &[value="yellow"]+.choice-color__label::before {
                background-color: var(--yellow);
            }

            &[value="dark-blue"]+.choice-color__label::before {
                background-color: var(--dark-blue);
            }

            &[value="mystic"]+.choice-color__label::before {
                background-color: var(--mystic);
            }

            &[value="spruce"]+.choice-color__label::before {
                background-color: var(--spruce);
            }

            &[value="pearl"]+.choice-color__label::before {
                background-color: var(--pearl);
            }

            &[value="red"]+.choice-color__label::before {
                background-color: var(--red);
            }

            &[value="blue"]+.choice-color__label::before {
                background-color: var(--blue);
            }

            &[value="orange"]+.choice-color__label::before {
                background-color: var(--orange);
            }

            &[value="aubergine"]+.choice-color__label::before {
                background-color: var(--aubergine);
            }
        }

        @media (max-width:$tablet-max) {
            grid-column-gap: 15px;
            grid-row-gap: 15px;
        }
    }

    &__item {
        position: relative;
        cursor: pointer;
        border: 1px solid #d9d9d9;
        border-radius: 21px;
        background-color: #fff;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        @media (max-width:$tablet-max) {
            border-radius: 16px;

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    &__element {}

    &__body {
        padding: 15px 11px 15px 15px;
        cursor: default;

        @media (max-width:$tablet-max) {
            padding: 10px 12px;
        }
    }
}
