.title {}

.subtitle {}

.title-1 {
    @include fontHalvar;
    color: var(--black);
    font-weight: 500;
    font-size: 26px;
    line-height: math.div(31, 26);
    text-transform: uppercase;

    @media (max-width:$tablet-max) {
        margin-bottom: 15px;
    }
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;

    @media (max-width:$max-1150) {
        grid-template-columns: repeat(4, 1fr);
    }
}



.img-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.p-top-page {
    padding-top: 35px;

    @media (max-width:$tablet-max) {
        padding-top: 25px;
    }
}

.top-border-page {
    padding-top: 56px;
    border-top: 1px solid var(--alto);

    @media (max-width:$max-1150) {
        padding-top: 0;
        border-top: none;
    }
}


.gallery {
    position: relative;
    z-index: 3;
    overflow: hidden;

    &__inner {
        padding: 0 15px;
        margin: 0 -15px;
        overflow: visible;
    }

    .swiper-slide {
        height: 100%;

    }

    &__navigation {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: end;

        @media (max-width:$tablet-max) {
            display: none;
        }
    }

    img {
        border-radius: 30px;
        width: 100%;
        height: 100%;

        @media (max-width:$smallTablet-max) {
            border-radius: 20px;
        }
    }

}

.gallery--home {
    margin-top: -80px;

    .gallery__inner {
        max-height: 200px;
    }

    @media (max-width:$smallTablet-max) {
        margin-top: -50px;
    }

}

.gallery--boat {
    margin-top: 80px;

    &.gallery--boat-2 {
        margin-top: 0;

    }

    .lg-counter {
        display: none;
    }

    @media (max-width:$smallTablet-max) {
        margin-top: 55px;
    }
}




.lg-counter {
    display: none;
}




.nav-primary-arrow {
    cursor: pointer;

    svg {
        width: 45px;
        height: 12px;
        fill: var(--black);
    }

    &--prev {
        margin-right: 28px;

        svg {
            transform: rotate(180deg);
        }
    }

    &--next {}

}

.copyrights-pane--delete {
    [class*="copyrights-pane"] {
        display: none !important;
    }
}

.style-balloon {
    [class*="balloon__close"] {
        position: absolute;
        top: -8px;
        right: -8px;
    }

    [class*="-balloon"] {
        border-radius: 20px;
        box-shadow: none;
    }

    [class$="-balloon__layout"] {
        overflow: visible;
        box-shadow: none;
        padding: 0;
    }

    [class$="-balloon__content"] {
        box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.09);
        padding: 0;
        margin-right: 0 !important;
    }

    [class*="balloon__close-button"] {
        --size: 46px;
        width: var(--size);
        height: var(--size);
        background-color: var(--white);
        box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.06);
        border-radius: 50%;
        box-sizing: border-box;
        opacity: 1;
        background-image: url('../img/close.svg');
    }
}
