.title {}

.subtitle {}

.title-1 {
    @include fontHalvar;
    color: var(--black);
    font-weight: 500;
    font-size: 26px;
    line-height: math.div(31, 26);
    text-transform: uppercase;
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;

    @media (max-width:$max-1150) {
        grid-template-columns: repeat(4, 1fr);
    }
}



.img-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.p-top-page {
    padding-top: 35px;

    @media (max-width:$tablet-max) {
        padding-top: 25px;
    }
}

.top-border-page {
    padding-top: 56px;
    border-top: 1px solid var(--alto);

    @media (max-width:$max-1150) {
        padding-top: 0;
        border-top: none;
    }
}


.gallery {
    position: relative;
    z-index: 3;
    overflow: hidden;

    &__inner {
        padding: 0 15px;
        margin: 0 -15px;
        overflow: visible;
    }

    .swiper-slide {
        // height: 100%;
        height: auto;
    }

    &__navigation {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: end;

        @media (max-width:$tablet-max) {
            display: none;
        }
    }

    img {
        border-radius: 30px;
        width: 100%;
        height: 100%;

        @media (max-width:$smallTablet-max) {
            border-radius: 20px;
        }
    }

}

.gallery--home {
    margin-top: -80px;

    .gallery__inner {
        max-height: 200px;
    }

    @media (max-width:$smallTablet-max) {
        margin-top: -50px;
    }

}

.gallery--boat {
    margin-top: 80px;

    &.gallery--boat-2 {
        margin-top: 0;

    }

    .lg-counter {
        display: none;
    }

    @media (max-width:$smallTablet-max) {
        margin-top: 55px;
    }
}





.gallery-photo-popup {
    .lg-counter {
        display: none;
    }
}



.nav-primary-arrow {
    cursor: pointer;
    z-index: 5;

    svg {
        width: 45px;
        height: 12px;
        fill: var(--black);
    }

    &--prev {
        margin-right: 28px;

        svg {
            transform: rotate(180deg);
        }
    }

    &--next {}

    &.swiper-button-disabled {
        cursor: default;
        opacity: 0.4;
    }
}

.copyrights-pane--delete {
    [class*="copyrights-pane"] {
        display: none !important;
    }
}

.style-balloon {
    [class*="balloon__close"] {
        position: absolute;
        top: -8px;
        right: -8px;
    }

    [class*="-balloon"] {
        border-radius: 20px;
        box-shadow: none;
    }

    [class$="-balloon__layout"] {
        overflow: visible;
        box-shadow: none;
        padding: 0;
    }

    [class$="-balloon__content"] {
        box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.09);
        padding: 0;
        margin-right: 0 !important;
    }

    [class*="balloon__close-button"] {
        --size: 46px;
        width: var(--size);
        height: var(--size);
        background-color: var(--white);
        box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.06);
        border-radius: 50%;
        box-sizing: border-box;
        opacity: 1;
        background-image: url('../img/close.svg');
    }
}

.lg-backdrop {
    background-color: rgba(0, 0, 0, 0.9);
}


.gallery-feedback {
    margin-top: 145px;

    &.feedback {
        border-top: none;
        padding-top: 0;
    }

    &__inner {
        padding-top: 60px;
        border-top: 1px solid var(--alto);
        grid-column: 3/-1;
        display: flex;

        @media (max-width:$max-1150) {
            grid-column: 1/-1;
        }

        @media (max-width:$smallTablet-max) {
            flex-direction: column;
        }

        @media (max-width:$mobile-max) {
            padding-top: 40px;
        }
    }

    @media (max-width:$smallTablet-max) {
        margin-top: 105px;
    }

    @media (max-width:$mobile-max) {
        margin-top: 40px;
    }
}


.pagination-dots {
    position: absolute;
    z-index: 2;
    bottom: 32px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:$smallTablet-max) {
        bottom: 20px !important;
    }

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: var(--white);
        border: 1px solid var(--white);
        opacity: 1;

        &.swiper-pagination-bullet-active {
            background-color: var(--black);
        }

        @media (max-width:$smallTablet-max) {
            width: 12px;
            height: 12px;
        }
    }
}

.pagination-dots-secondary {
    position: absolute;
    z-index: 2;
    bottom: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:850px) {
        bottom: 20px !important;
    }

    .swiper-pagination-bullet {
        width: 10.5px;
        height: 10.5px;
        border-radius: 50%;
        background-color: #e1e1e1;
        opacity: 1;

        &.swiper-pagination-bullet-active {
            background-color: var(--black);
        }

        @media (max-width:$smallTablet-max) {
            width: 8px;
            height: 8px;
        }
    }
}

.production-composition-gallery__wrapper {
    .lg-image {
        border-radius: 40px;
    }
}



.configurator-banner {
    padding: 30px 15px 60px 30px;
    margin: 55px auto -30px;
    background-color: var(--red);
    border-radius: 30px 30px 0 0;
    display: none;
    color: var(--white);
    position: relative;
    z-index: 2;

    &__title {
        @include fontHalvar;
        font-weight: 700;
        font-size: 26px;
        line-height: math.div(30, 26);
        margin-bottom: 8px;
    }

    &__text {
        font-size: 14px;
        line-height: math.div(19, 14);
        color: #fa9691;
    }

    &__soon {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        right: 15px;
    }

    @media (max-width:$tablet-max) {
        display: block;
    }
}


.soon {
    padding: 0 14px;
    height: 27px;
    background: #ffe1df;
    color: var(--red);
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    border-radius: 18px;

    display: inline-flex;
    align-items: center;
}


.nav-secondary-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity $transitionSpeed $transitionFunction,
        visibility $transitionSpeed $transitionFunction;

    &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
    }

    svg {
        flex: 0 0 16px;
        width: 16px;
        height: 16px;
        fill: none;
        stroke: var(--black);
    }

    &--prev {
        left: 40px;
        transform: translateY(-50%) rotate(180deg);

        @media (max-width:$tablet-max) {
            left: 20px;
        }
    }

    &--next {
        right: 40px;

        @media (max-width:$tablet-max) {
            right: 20px;
        }
    }
}


.select-secondary {
    &__title {}

    &__color {
        width: 76px;
        height: 43px;
        background-color: #fff;
    }
}


.hero-home-video {
    &--main {
        margin-top: 0;
    }

    &__video {
        min-height: 300px;
        height: calc(var(--vh) + 35px);
        width: 100%;
        object-fit: cover;
        background-color: var(--white);
        transition: height 1000000s, min-height 1000000s;

        &--desktop {
            display: block;

            @media (max-width:$tablet-max) {
                display: none;
            }
        }

        &--mobile {
            display: none;

            @media (max-width:$tablet-max) {
                display: block;
            }
        }

        @media (max-width:$tablet-max) {
            height: calc(var(--vh) + 20px);
        }
    }

    &__container {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        min-height: 300px;
        height: calc(var(--vh) + 35px);
        width: 100%;
        transition: height 1000000s, min-height 1000000s;

        @media (max-width:$tablet-max) {
            height: calc(var(--vh) + 20px);
        }
    }

    &--plus {
        position: absolute;

        svg {
            width: 24px;
            height: 24px;
            fill: var(--black);
        }

        &-1 {
            top: 162px;
            left: 15px;
        }

        &-2 {
            top: 162px;
            right: 15px;
        }


        @media (max-width:$tablet-max) {
            display: none;
        }
    }

    &__btns {
        position: absolute;
        bottom: 75px;
        right: 15px;
        display: flex;
        align-items: center;

        @media (max-width:$mobile-max) {
            flex-direction: column;
            bottom: 50px;
            width: 100%;
            right: 0;
        }
    }

    &__btn {
        position: relative;

        &:not(:last-child) {
            margin-right: 12px;
        }

        &:nth-child(1) {
            &:hover {
                background-color: var(--white);
                color: var(--black);
            }
        }

        &:nth-child(2) {
            background-color: rgba(255, 255, 255, .8);
            color: var(--black);

            @media (min-width:$smallTablet-min) {
                &:hover {
                    background-color: var(--white);

                    .soon {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }
            }

            @media (max-width:$smallTablet-max) {
                background-color: var(--white);

                .soon {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }

        &-soon {
            transform: translateY(8px);
            position: absolute;
            top: -10px;
            right: 8px;
            opacity: 0;
            visibility: hidden;
            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction,
                transform $transitionSpeed $transitionFunction;

            @media (max-width:$tablet-max) {
                padding: 0 10px;
                font-size: 12px;
                top: -14px;
                right: 6px;
            }
        }

        @media (max-width:$mobile-max) {
            width: calc(100% - 15px);

            &:not(:last-child) {
                margin-right: 0px;
                margin-bottom: 15px;
            }
        }
    }

    .header {
        border-bottom: none;
        background-color: transparent;
        transition: background-color $transitionSpeed $transitionFunction;

        &.header-scroll {
            background-color: var(--white);

            .nav__link {
                color: var(--black);
            }

            .header__tel {
                color: var(--black);
            }

            .logo__img--white {
                display: none;
            }

            .logo__img--black {
                display: block;
            }
        }

        .menu--active {
            .nav__link {
                color: var(--black);
            }
        }

        .logo__img--white {
            display: block;
        }

        .logo__img--black {
            display: none;
        }

        .nav__link {
            color: var(--white);

            &._spoller-active {
                color: var(--red);
            }
        }

        &__tel {
            color: var(--white);
        }

        &.header--active {
            background-color: var(--white);

            .logo__img--white {
                display: none;
            }

            .logo__img--black {
                display: block;
            }

            .header__tel {
                color: var(--black);
            }
        }
    }
}


.fl47 {
    .boat-info {
        margin-top: 80px;

        &__bottom {
            margin-top: 0;
            border-top: 0;
            padding-top: 0;
        }

        &__btns {}

        @media (max-width:$mobile-max) {
            margin-top: 0;
        }
    }
}
