// =============== Reset ===============

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 400;
    font-size: inherit;
}

.page {
    height: 100%;
    font-family: $fontFamily, sans-serif;
    -webkit-text-size-adjust: 100%;
}

.page__body {
    margin: 0;
    min-width: $minWidth + px;
    min-height: 100%;
    font-size: $fontSize + px;
    line-height: 100%;
    background-color: $bodyColor;
    color: $mainColor;
}

.main {
    margin-top: var(--header-height);
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}










// =============== Other ===============

.site-container {
    overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.dis-scroll {
    overflow: hidden;
    height: 100vh;
}

.is-hidden {
    display: none !important;
    /* stylelint-disable-line declaration-no-important */
}

.page--ios .dis-scroll {
    position: relative;
}

.container {
    margin: 0 auto;
    padding: 0 ($containerOffset + px);
    max-width: $containerWidth + px;
}

.container-big {
    margin: 0 auto;
    padding: 0 ($containerOffset + px);
    max-width: calc(1920 + ($containerOffset * 2)) + px;
}

.container-very-big {
    margin: 0 auto;
    padding: 0 ($containerOffset + px);
    max-width: calc(3250 + ($containerOffset * 2)) + px;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
